@media(min-width: 20rem) {
    .row {
        flex-direction: row;
        margin-left: -1.0rem;
        width: calc(100% + 2.0rem);
    }
    .row.column{
        margin-bottom: inherit;
        padding: 0 1.0rem;
    }
}

.row {
    overflow-x: auto;
}

td {
    vertical-align: top;
    margin-bottom: inherit;
    padding: 0 1rem;
}


.upcoming {
    background-color: aliceblue;
    /* padding-left: 10px !important; */
}

td >table{
    box-shadow: 0 1px 3px grey;
    border-radius: 4px;
    padding: 1rem 2rem;
}

td:first-child, th:first-child {
    padding-left: 1rem;
}
td:last-child, th:last-child {
    padding-right: 1rem;
}

.fa-heart{
    cursor: pointer;
}

.fa-solid{
    color: red;
}

.fa-check-double{
    color: #53bdeb;
}

.fa-lock,.fa-lock-open{
    color: green;
}

#progress{
    width: 100%;
}

.hide{
    display: none;
}

@media all and (max-width:40rem) {
    .slots>tr {    display: table;  width:100%;    }               
    .slots>tr>td {    display: table-row; }           
}
@media all and (max-width:20rem) {
    tr {    display: table;  width:100%;    }               
    td {    display: table-row; }           
}